.forHeader {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.addPaddingIntro {
    padding-bottom: 60px;
    padding-top: 30px;
}

.backgroundColor{
    background: linear-gradient(#c7cfba, rgb(242, 246, 241));
}